@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=El+Messiri&display=swap');
body {
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'El Messiri', sans-serif;
}

#fotter {
    background-color: #132639;
    color: white;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#icon {
    border-radius: 100%;
}